[submodule "3rd-party/sass-mode"]
	path = 3rd-party/sass-mode
	url = https://github.com/nex3/sass-mode.git
[submodule "3rd-party/scss-mode"]
	path = 3rd-party/scss-mode
	url = https://github.com/antonj/scss-mode.git
[submodule "3rd-party/haml-mode"]
	path = 3rd-party/haml-mode
	url = https://github.com/nex3/haml-mode.git
[submodule "3rd-party/tabbar"]
	path = 3rd-party/tabbar
	url = https://github.com/dholm/tabbar.git
[submodule "3rd-party/coffee-mode"]
	path = 3rd-party/coffee-mode
	url = https://github.com/defunkt/coffee-mode.git
[submodule "3rd-party/less-mode"]
	path = 3rd-party/less-mode
	url = https://github.com/purcell/less-css-mode
[submodule "3rd-party/rubocop-emacs"]
	path = 3rd-party/rubocop-emacs
	url = git@github.com:bbatsov/rubocop-emacs.git
[submodule "3rd-party/rvm.el"]
	path = 3rd-party/rvm.el
	url = git@github.com:senny/rvm.el.git
[submodule "3rd-party/inf-ruby"]
	path = 3rd-party/inf-ruby
	url = git@github.com:nonsequitur/inf-ruby.git
[submodule "3rd-party/dockerfile-mode"]
	path = 3rd-party/dockerfile-mode
	url = git@github.com:spotify/dockerfile-mode.git
